a {
    color: inherit;
}

a:hover {
    color: hotpink;
}

p {
    margin-bottom: 1rem;
}

.section-bg-pink {
    background-color: mistyrose;
    padding: 60px 0;
}

.section-bg-white {
    background-color: white;
    padding: 60px 0;
}

/* Site header */
.site-header {
    /* It will remain in the flow, like an element with position static or relative
    and only on scroll it will stick to the parent that is scrollable */
    position: sticky;
    /* Specify the offset from its original position */
    top: 0;
    left: 0;
    background-color: purple;
    width: 100%;
    padding: 20px 20px 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    color: white;
}

/* Site menu */
.site-menu {
    text-align: right;
}

.site-menu-item {
    display: inline-block;
    margin: 0 8px;
}